<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style1.css">
    <title>NUEVA TAREA</title>
</head>
<body>
    <h1>Nueva Tarea</h1><br><br>
    <form action="/anadir_tarea/<%= userid %>" method="post">
        <input type="text" name="foto" id="" placeholder="foto"><br><br>
        <input type="text" name="nombre" id="" placeholder="nombre"><br><br>
        <input type="text" name="descripcion" id="" placeholder="descripcion"><br><br>
        <input type="submit"><br><br>
    </form>
</body>
</html>