<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style1.css">
    <title>LOGIN</title>
</head>
<body>
    <h1>Bienvenido al LOGIN</h1><br><br>
    <form action="/login" method="post">
        <input type="email" name="email" id="" placeholder="Email"><br><br>
        <input type="password" name="pass" id="" placeholder="Contraseña"><br><br>
        <input type="submit"><br><br>
    </form>
    <a href="/register">No tienes cuenta? registrate</a> <br><br>
    <a href="/recuperar">Has olvidado tu contra? Pulsa aqui</a>
</body>
</html>