<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar contraseña</title>
</head>
<body>
    <form action="/recuperar" method="post">
        <input type="email" name="email" placeholder="Confirma tu email">
        <br><br>


        <input type="password" name="pass1" placeholder="Indique su nueva contraseña">
        <input type="password" name="pass2" placeholder="Confirme su nueva contraseña">
        <input type="submit" value="CONFIRMAR Y CAMBIAR MI CONTRASEÑA">
    </form>
</body>
</html>