<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style1.css">
    <title>REGISTER</title>
</head>
<body>
    <h1>Bienvenido al REGISTER</h1><br><br>
    <form action="/register" method="post">
        <input type="text" name="nombre" id="" placeholder="Nombre"><br><br>
        <input type="email" name="email" id="" placeholder="Email"><br><br>
        <input type="password" name="pass" id="" placeholder="Contraseña"><br><br>
        <input type="submit"><br><br>
    </form>
    <a href="/login">Ya tienes cuenta? inicia sesion</a>
</body>
</html>